################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TensorRT/v16
/bin/x64
/packages/OpenCvSharp3-AnyCPU.4.0.0.20181129
/TensorRT-DEMO/obj
